$borderColor: #B0B0B0;
$appColor: #FFBE2E;
$appInactive: #FFF1D6;
$errorColor: #CB4335;
$bgColor: #EDEEF0;

:export {
  borderColor: $borderColor;
  appColor: $appColor;
  appInactive: $appInactive;
  errorColor: $errorColor;
  bgColor: $bgColor;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12pt;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  background-color: $bgColor;
}

.ql-container, .ql-toolbar {
  border: none !important;
}


@media only screen and (max-width: 420px) {
  font-size: 8pt;
}
