$borderColor: #B0B0B0;
$appColor: #4A235A;
$appInactive: #D2B4DE;
$errorColor: #CB4335;

:export {
  borderColor: $borderColor;
  appColor: $appColor;
  appInactive: $appInactive;
  errorColor: $errorColor;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12pt;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width: 420px) {
  font-size: 8pt;
}
